<form>
    <input type='text' name='q' id='searchInput'>
    <button type='submit'>Search</button>
</form>

{{ query }}

<ul>
    {% for result in results %}
        <li><a href="{{ result.url }}"> {{ result.title }} </a> {{ result.index }}</li>
    {% endfor %}
</ul>

<script>
    const searchInput = document.getElementById('searchInput');
    if (searchInput) {
        searchInput.addEventListener('keyup', function(event) {
            // do a lookup to backend api
            const searchValue = searchInput.value;
            const urlEndpoint = `/api/search/?q=${searchValue}`;
            fetch(urlEndpoint).then(x=>x.json()).then(x=> console.log(x))
        });
    }
</script>
